

 
/* Tablet desktop :768px. */
@media(max-width: 991px) {
.header .nav-menu{
  position: fixed;
  left:-280px;
  width: 280px;
  visibility: hidden;
  height: 100%;
  overflow-y: auto;
  background: #222222;
  top: 0;
  z-index: 1000;
  padding: 15px 0px;
  transition:all 0.5s ease;
}
.header .nav-menu.open {
  visibility: visible;
  left: 0px;
}
.header .menu > .menu-iteam{
  display: block;
  margin:0;
}
.header .menu > .menu-iteam a{
  color:white;
  padding:12px 15px;
  border-bottom: 1px solid #333333;
}
.header .menu > .menu-iteam:first-child >a{
  border-top: 1px solid #333333;
}
.header .menu > .menu-iteam-has-childrean > a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu > .menu-iteam a .plus:before,
.header .menu > .menu-iteam a .plus:after{
  background:white;
}

.header .menu > .menu-iteam-has-childrean.active > a .plus:after{
  transform: translate(-50%,-50%) rotate(0deg);
}
.header .menu > .menu-iteam >.submenu{
  width: 100%;
  position: relative;
  opacity: 1;
  visibility: visible;
  border:none;
  background-color: transparent;
  box-shadow: noen;
  transform: translateY(0px);
  left: auto;
  top: auto;
  padding: 0;
  max-height:0;
  transition: all 0.3s ease;
  overflow:hidden;
}
.header .menu > .menu-iteam >.submenu >.menu-iteam a{
  padding:12px 45px;
  color: white;
  border-bottom: 1px solid #333333;
}
.header .menu > .menu-iteam >.submenu{
  width: 100%;
}
.header .open-nav-menu{
  display: flex;
}
.header .close-nav-menu,
.header .open-nav-menu{
  display: flex;
}

.button-top{
  display: none;
}

.slider-single-full h2 {
  font-size: 55px;
}


.featured-content {
  margin-top: 40px;
}
.about-img {
  margin-top: 40px;
}
.counter-box {
  text-align: center;
}
.count-text {
  display: flex;
  align-items: center;
  text-align: end;
  justify-content: center;
}
.counter-box {
  margin: 15px 0;
}
.counter-area {
  padding: 25px 0;
}
.pricingTable {
  margin-bottom: 20px;
}
.busines-left {
  margin-top: 25px;
}
.team-right {
  margin-bottom: 40px;
}
.blog-single {
  margin-bottom: 20px;
}
.left-service-text {
  margin-bottom: 40px;
}
.team-2 {
  padding-bottom: 40px;
}
.contact-form {
  margin-top: 40px;
}
.choose-left {
  margin-bottom: 40px;
}
.top-img {
  top: 200px;
 
}
.add-contact{
  margin-top: 20px;
}
.testimonial-left {
  width: 100%;
}
.testimonail-right{
  display: none;
}
.counter-image {
  margin-right: 90px;
}
.our-team {
  margin-bottom: 25px;
}
}

 
/* tablet mobile :767px. */
@media all and (max-width: 767px) {

  .silder-single {
    padding-top: 106px;
    padding-bottom: 82px;
  }
 .slider-single-full h2 {
    font-size: 40px;
  }

  .section-heading h2 {
  font-size: 36px;
  margin-bottom: 4px;
}
h4 {
  font-size: 18px;
}
.about-img {
  margin-top: 30px;
}
.count-text h4, .count-text span {
  font-size: 50px;
}
.choose-single {
  padding: 35px 35px 35px 35px;
}
.pt-60 {
  padding-top: 40px;
}
.pricing-single {
  margin-bottom: 25px;
}
.pricing-area {
  padding-bottom: 60px;
}
.busines-right {
  margin-top: 20px;
}
.Business-area {
  padding-bottom: 30px;
}
.card {
  width: 100%;
}
.footer-single .ft-title h2 {
  margin-bottom: 10px;
}
.ft-content p {
  margin-bottom: 10px;
}
.footer-bottom-right ul {
  justify-content: start;
}

.footer-bottom-right {
  margin-top: 10px;
}
.ft-content {
  margin-top: 20px;
}
.ft-right-btm .ft-links ul {
  justify-content: center;
}
.ft-left-btm {
  text-align: center;
  margin-bottom: 10px;
}
.btm-brd {
  margin-top: 30px;
}
.foot-social ul li i {
  font-size: 30px;
}
.banner-area2 {
  padding-top: 110px;
  padding-bottom: 100px;
}
.section-padding {
  padding: 50px 0;
}
.top-img {
  top: 150px;
 
}
.our-team {
  margin-bottom: 25px;
}
}


@media all and (max-width: 590px){
.section-padding {
  padding: 35px 0;
}
.home-page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-text h2 {
  font-size: 56px;
}
.home-text {
  text-align: center;
}
.about-link ul {
  justify-content: center;
}
.featured-list ul li {
  flex: 0 0 100%;
  max-width: 100%;
}

.testimonial-singel {
  justify-content: center;
  display: block;
}
.testimonial-singel {
  text-align: center;
}
.testimonial-text p {
  width: 100%;
  text-align: start;
  margin: 0 auto;
}
.testimonial-text .info-text {
  text-align: start;
}
.testimonial-singel {
  display: block;
  padding: 24px 50px;
  justify-content: start;
}
.counter-image {
  margin-right: 90px;
}
}
 
/* Large Mobile :480px. */
@media all and (max-width: 490px){

 .slider-single-full h2 {
  font-size: 30px;
}

.silder-single {
  padding-top: 97px;
  padding-bottom: 73px;
}

.slider-single-full h4 {
  margin-left: 60px;
}
.service-single .icon i {
  font-size: 60px;
}
.section-padding {
  padding: 25px 0;
}
h4 {
  font-size: 16px;
}
.section-heading h2 {
  font-size: 28px;
  margin-bottom:7px;
}
.featured-item ul li {
  float: left;
  width: 100%;
  font-size: 15px;
}
.featured-item ul li i {
  width: 24px;
  height: 24px;
  line-height: 26px;
  font-size: 11px;
}
.about-single .icon i {
  font-size: 45px;
}
.count-text h4, .count-text span {
  font-size: 40px;
}
.counter-box {
  padding: 15px 0;
}
.choose-single .icon i {
  color: #EC2B2B;
  font-size: 57px;
}
.choose-single {
  padding: 30px 25px 30px 25px;
}
.pt-60 {
  padding-top: 45px;
}
.home-text h2 {
  font-size: 40px;
}
.home-page {
  padding-top: 90px;
  padding-bottom: 80px;
}
.call-us i {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.counter-image {
  margin-bottom: 33px;
}
.top-img {
  top: 134px;
}

}
